html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}

p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
body.__i18n-ko h2 {
    line-height: 120%;
    margin-top: 0.5em
}
h3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    line-height: 18pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
dt {
    font-family: 'Montserrat', sans-serif;
}
dd {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 20%;
    min-width: 400pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.button:hover {
  background-color: DarkGray;
}
.button1 {
    background-color: ForestGreen;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.button1:hover {
  background-color: Gray;
  border: 2px;
  border-color: Black;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #dddddd;
    display: inline-block;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
.material-icons {
    display: inline-block;
    font-size: 12px;
}


/* Gallery on index */
.gallery {
  margin: 5px;
  border: 2px solid #bbb;
  border-radius: 10px;
  float: left;
  width: 30%;
  height: 450px;
  display: block;
  background-color: #eee;
  transition: transform .2s;
  overflow: hidden;
}

.gallery:hover {
  border: 2px solid #777;
  transform: scale(1.05);
  cursor: pointer;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -4px;
  height: 300px;
  object-fit: cover;
  transition: transform .2s;
}

.gallery img:hover {
  object-fit: contain;
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;  
  border-top: 2px solid #bbb;
  padding-top: 15px;
  display: block;
}

.title:hover {
  border-top: 2px solid #777;
}

.subtitle {
  font-family: 'Roboto', sans-serif;  
  color: #777;
  font-size: 12px;
  display: block;
  text-align: center;
}

.date {
  display: inline-block;
  font-size: 12px;
}

.desc {
  padding: 0px 15px 15px 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;  
}

img.indexicon {
    height: 10px;
}

.gallerylist, .list {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

input.search {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  background-color: #eee; 
}

.sort {
  padding: 8px 30px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #2196f3;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
}

.sort:hover {
  background-color: DarkGray;
}

.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top: 13px;
  right:-5px;
  font-family: 'Montserrat', sans-serif;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
  font-family: 'Montserrat', sans-serif;
} 

/* Menu Bar */
.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #BBB;
  border-radius: 5px;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a, .dropbtn{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #EEE;
  color: black
}

.active {
  background-color: #4CAF50;
  font-family: 'Montserrat', sans-serif;
}

.dropdown {
  float: left;
  overflow: hidden;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Mobile View */
@media only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .desc    { display: none; }
    .gallery { height: 375px; }
    .title   { font-size: 24px; }
    p.btndesc   { display: none; }
}
    
