html {
    background: linear-gradient(180deg, rgba(14,130,168,1) 0%, rgba(206,125,125,1) 100%);
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(229, 229, 229, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
div.element {
    width: 85%;
    padding: 16pt;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin: auto;
}
a{
    color: #2222DD;
}
a:hover{
    color: #5b5b5b;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
p.quiz-topic {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 30pt;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: overline;
    font-style: italic;
}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
h3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
img.values {
    border-radius: 8pt;
    display: block;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  

.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}

/* AUTH */
div.autocracy {
    background-color: #0C5393;
    text-align: right;
    border-left-style: solid;
}
div.oligarchy {
    background-color: #807A91;
    text-align: left;
    border-right-style: solid;
}
div.economic {
    background-color: #DD7E6B;
    text-align: right;
    border-left-style: solid;
}
div.civilvalue {
    background-color: #45818D;
    text-align: left;
    border-right-style: solid;
}
div.populism {
    background-color: #F6B26A;
    text-align: right;
    border-left-style: solid;
}
div.elitism {
    background-color: #FFD866;
    text-align: left;
    border-right-style: solid;
}
div.deterrence {
    background-color: #6AA74F;
    text-align: right;
    border-left-style: solid;
}
div.prevention {
    background-color: #E06666;
    text-align: left;
    border-right-style: solid;
}
div.uniform {
    background-color: #A64D78;
    text-align: right;
    border-left-style: solid;
}
div.diverse {
    background-color: #C1D7A8;
    text-align: left;
    border-right-style: solid;
}
div.diversity {
    background-color: #C1D7A8;
    text-align: left;
    border-right-style: solid;
}
div.ruleover {
    background-color: #B45E06;
    text-align: right;
    border-left-style: solid;
}
div.ruleunder {
    background-color: #E6B8AF;
    text-align: left;
    border-right-style: solid;
}
div.hereditary {
    background-color: #BF9001;
    text-align: right;
    border-left-style: solid;
}
div.bestsuited {
    background-color: #76A5AE;
    text-align: left;
    border-right-style: solid;
}
div.authunity {
    background-color: #E99999;
    text-align: right;
    border-left-style: solid;
}
div.disunity {
    background-color: #A4C2F4;
    text-align: left;
    border-right-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: 38%;
    margin-right: 22%;
    margin-bottom: -1%;
    width: 40%;
    display: block;
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  margin: 0 auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

p.tool {
   color: #333333;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

