div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.a {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.a2 {
    background-color: #f44336;
    text-align: right;
    border-left-style: solid;
}
div.b {
    background-color: #00897b;
    text-align: left;
    border-right-style: solid;
}
div.b2 {
    background-color: #ff9800;
    text-align: right;
    border-left-style: solid;
}
div.c {
    background-color: #03a9f4;
    text-align: left;
    border-right-style: solid;
}
div.c2 {
    background-color: #9c27b0;
    text-align: right;
    border-left-style: solid;
}
div.d2 {
    background-color: #ea90ab;
    text-align: right;
    border-left-style: solid;
}
div.d {
    background-color: #8bc34a;
    text-align: left;
    border-right-style: solid;
}
div.e {
    background-color: #3f51b5;
    text-align: left;
    border-right-style: solid;
}
div.e2 {
    background-color: #ffeb3b;
    text-align: right;
    border-left-style: solid;
}
div.f {
    background-color: #f44336;
    text-align: left;
    border-right-style: solid;
}
div.f2 {
    background-color: #00897b;
    text-align: right;
    border-left-style: solid;
}
div.g {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}
div.g2 {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}
div.h {
    background-color: #9c27b0;
    text-align: left;
    border-right-style: solid;
}
div.h2 {
    background-color: #8bc34a;
    text-align: right;
    border-left-style: solid;
}
div.i {
    background-color: #ea90ab;
    text-align: left;
    border-right-style: solid;
}
div.i2 {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}

span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
