html {
    background: linear-gradient(180deg, rgba(26,82,118,1) 0%, rgba(46,134,193,1) 24%, rgba(72,201,176,1) 62%, rgba(125,206,160,1) 100%);
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(229, 229, 229, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
div.element {
    width: 85%;
    padding: 16pt;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    margin: auto;
}
a{
    color: #2222DD;
}
a:hover{
    color: #5b5b5b;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.a {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.a2 {
    background-color: #f44336;
    text-align: right;
    border-left-style: solid;
}
div.b {
    background-color: #00897b;
    text-align: left;
    border-right-style: solid;
}
div.b2 {
    background-color: #ff9800;
    text-align: right;
    border-left-style: solid;
}
div.c {
    background-color: #FFE599;
    text-align: left;
    border-right-style: solid;
}
div.c2 {
    background-color: #B45F06;
    text-align: right;
    border-left-style: solid;
}
div.d2 {
    background-color: #ea90ab;
    text-align: right;
    border-left-style: solid;
}
div.d {
    background-color: #8bc34a;
    text-align: left;
    border-right-style: solid;
}
div.e {
    background-color: #3f51b5;
    text-align: left;
    border-right-style: solid;
}
div.e2 {
    background-color: #ffeb3b;
    text-align: right;
    border-left-style: solid;
}
div.f {
    background-color: #f44336;
    text-align: left;
    border-right-style: solid;
}
div.f2 {
    background-color: #FFD966;
    text-align: right;
    border-left-style: solid;
}
div.g {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}
div.g2 {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}
div.h {
    background-color: #9c27b0;
    text-align: left;
    border-right-style: solid;
}
div.h2 {
    background-color: #8bc34a;
    text-align: right;
    border-left-style: solid;
}
div.i {
    background-color: #ea90ab;
    text-align: left;
    border-right-style: solid;
}
div.i2 {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}
div.j {
    background-color: #A61C00;
    text-align: left;
    border-right-style: solid;
}
div.j2 {
    background-color: #00897B;
    text-align: right;
    border-left-style: solid;
}
div.k {
    background-color: #9C27B0;
    text-align: left;
    border-right-style: solid;
}
div.k2 {
    background-color: #03A9F4;
    text-align: right;
    border-left-style: solid;
}
div.l {
    background-color: #76A5AF;
    text-align: left;
    border-right-style: solid;
}
div.l2 {
    background-color: #F6B26B;
    text-align: right;
    border-left-style: solid;
}
span.weight-300 {
    font-weight: 300;
}
canvas {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
